{% extends 'main.html' %} {% block content %}

<!DOCTYPE html>
<html>
  <head>
    <title>Django Home</title>
  </head>
  <body>
    <h1 class="header">Project Description</h1>
    <p class="index-desc">
      Duo rebum sit sea gubergren dolor dolor diam ipsum eirmod, ut ipsum et labore gubergren elitr gubergren justo.
      Dolore invidunt sed stet sed sanctus nonumy aliquyam voluptua takimata. Sadipscing no invidunt stet justo sanctus
      ea, amet labore diam est sadipscing sanctus eos et sed et. Takimata sit tempor diam diam,.
    </p>
  </body>
</html>

{% endblock %}
