{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <!-- Boostrap CSS CDN-->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <!-- Custom CSS -->

    <link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
  </head>

  <body>
    {% include 'sidebar.html' %}{% block content %} {% endblock %}
  
  </body>
</html>
