{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <nav class="navbar navbar-custom">
      <!-- Brand -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <span class="navbar-brand mb-0 h1">URO</span>
        </li>
      </ul>

      <!-- Sidebar Button -->
      <div id="main">
        <button class="openbtn" onclick="openNav()">&#9776;</button>
      </div>

      <!-- Sidebar Content -->
      <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0);" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/run">Search</a>
      </div>
    </nav>

    <script>
      function openNav() {
        document.getElementById("mySidebar").style.width = "250px";
      }

      function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
      }
    </script>
  </body>
</html>
